html {
  font-family: "Roboto", sans-serif;
  font-size: 12px; }

a {
  text-decoration: none;
  color: black; }

body {
  margin: 0; }

.header {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px; }
  .header-container {
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto; }
  .header-navbar__list {
    min-width: 750px;
    margin: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, -webkit-max-content));
    grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
  .header-navbar__item {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-navbar__item:last-of-type {
      margin-right: 0; }
  .header-navbar__link {
    padding: 23px 0;
    position: relative;
    font-size: 12px;
    font-weight: 500; }
    .header-navbar__link:hover {
      color: #00acdc; }
    .header-navbar__link.is-active {
      color: #00acdc; }
      .header-navbar__link.is-active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 37px;
        height: 4px;
        background-color: #00acdc; }
  .header-logo {
    margin-top: 4px; }

.main {
  max-width: 1200px;
  margin: 0 auto; }
  .main__container {
    display: grid;
    grid-template-areas: "pd1 pd2 pd3 pd4" "pd5 pd6 pd7 pd8";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 944px;
    margin: 0 auto; }

.product-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 403px;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  margin-right: 48px;
  margin-bottom: 50px;
  padding: 0 14px; }
  .product-card:nth-child(4n+4) {
    margin-right: 0; }
  .product-card__image {
    display: block;
    max-width: 160px;
    min-height: 134px;
    margin: 15px auto 30px;
    padding: 12px 0;
    border: 3px solid transparent;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out; }
    .product-card__image:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      border-color: #f3f3f3; }
  .product-card__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    width: 170px;
    margin: 0 auto 5px; }
  .product-card__code {
    max-width: 170px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0 auto 16px; }
  .product-card__rating {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 170px;
    margin-bottom: 20px; }
  .product-card__reviews {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400; }
  .product-card__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -1px; }
    .product-card__stars div:nth-child(-n+4) {
      background-image: url(../images/star-active.svg); }
  .product-card__price {
    max-width: 170px;
    margin: 0 auto 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .product-card__price--sum {
      margin: 0;
      font-size: 16px;
      line-height: 19px; }
    .product-card__price--title {
      font-size: 11px;
      line-height: 13px;
      font-weight: 400;
      margin-top: 3px; }
  .product-card__button {
    display: block;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 170px;
    height: 40px;
    padding: 11px;
    border: 1px solid #00acdc;
    background-color: #00acdc;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    color: white;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s; }
    .product-card__button:hover {
      background-color: #fff;
      color: #00acdc; }

.block__star {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  background-image: url(../images/star.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat; }

@media (max-width: 1025px) {
  .header-container {
    max-width: 924px; }
  .main {
    max-width: 1024px; } }

.product-card--1 {
  grid-area: pd1; }

.product-card--2 {
  grid-area: pd2; }

.product-card--3 {
  grid-area: pd3; }

.product-card--4 {
  grid-area: pd4; }

.product-card--5 {
  grid-area: pd5; }

.product-card--6 {
  grid-area: pd6; }

.product-card--7 {
  grid-area: pd7; }

/*# sourceMappingURL=main.css.map */
